*.sqlite
/.vs/Software-Engineering-CSharp-SoftUni/v15/.suo
/.vs/*.json
/Technology Fundamentals/04-Methods/.vs/04 Methods/v15/.suo
/Technology Fundamentals/04-Methods/04-Methods/E01 Smallest of Three Numbers/bin/Debug/netcoreapp2.0/*.json
/Technology Fundamentals/04-Methods/04-Methods/E01 Smallest of Three Numbers/bin/Debug/netcoreapp2.0/*.dll
/Technology Fundamentals/04-Methods/04-Methods/E01 Smallest of Three Numbers/bin/Debug/netcoreapp2.0/*.pdb
/Technology Fundamentals/04-Methods/04-Methods/E01 Smallest of Three Numbers/obj/Debug/netcoreapp2.0/*.cache
*.txt
*.dll
*.pdb
*.cache
/Technology Fundamentals/04-Methods/04-Methods/E01 Smallest of Three Numbers/obj/*.props
*.json
*.targets
*.props
/CSharp-Advansed/01-Stacks and Queues/E01 Basic Stack Operations/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E02 Basic Queue Operations/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E03 Maximum and Minimum Element/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E04 Fast Food/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E05 Fashion Boutique/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E06 Auto Repair and Service/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E07 Truck Tour/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E08 Balanced Parentheses/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E09 Simple Text Editor/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L01 Reverse Strings/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L02 Stack Sum/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L03 Simple Calculator/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L04 Matching Brackets/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L07 Hot Potato_/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/L08 Traffic Jam/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E10 Crossroads/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSharp-Advansed/01-Stacks and Queues/E10 Crossroads/obj/Debug/netcoreapp2.1
/Technology Fundamentals/03 Arrays/.vs/03 Arrays/v15/Server/sqlite3
/Technology Fundamentals/03 Arrays/.vs/03 Arrays/v15/.suo
/Technology Fundamentals/03 Arrays/ConsoleApp1/obj/Debug/netcoreapp2.0
/Technology Fundamentals/03 Arrays/ConsoleApp1/obj/Release/netcoreapp2.0
/Technology Fundamentals/03 Arrays/ConsoleApp1
/Technology Fundamentals/03 Arrays/E01 Train/obj
/Technology Fundamentals/03 Arrays/E02 Common Elements/obj
/Technology Fundamentals/03 Arrays/E03 Zig Zag arrays/obj
/Technology Fundamentals/03 Arrays/E04 Array rotation/obj
/Technology Fundamentals/03 Arrays/E05 Top Integers/obj
/Technology Fundamentals/03 Arrays/E06 Equal Sums/obj
/Technology Fundamentals/03 Arrays/E07 Max Sequence of Equal Elements/obj
/Technology Fundamentals/03 Arrays/E08 Magic Sum/obj
/Technology Fundamentals/03 Arrays/E09Е Kamino Factory/obj
/Technology Fundamentals/03 Arrays/E10 LadyBugs/obj
/Technology Fundamentals/03 Arrays/L01 Day of week/obj
/Technology Fundamentals/03 Arrays/L02 Print Numbers in Reverse Order/obj
/Technology Fundamentals/03 Arrays/L03 Rounding Numbers/obj
/Technology Fundamentals/03 Arrays/L04 Reverse array of Strings/obj
/Technology Fundamentals/03 Arrays/L05 Sum Even numbers/obj
/Technology Fundamentals/03 Arrays/L06 Even and Odd Subtraction/obj
/Technology Fundamentals/03 Arrays/L07 Equal Arrays/obj
/Technology Fundamentals/03 Arrays/L08 Condense Array to Number/obj
/Technology Fundamentals/03 Arrays/ME01 Encrypt Sort Print/obj
/Technology Fundamentals/03 Arrays/ME02 Pascal Triangle/obj
/Technology Fundamentals/03 Arrays/ME03 Recursive Fibonacci/obj
/Technology Fundamentals/03 Arrays/ME04 Fold and sum/obj
/Technology Fundamentals/03 Arrays/ME05 Longest Increasing Subsequence/obj
/CSharp-Advansed/01-Stacks and Queues/E11 Key Revolver/obj/Debug/netcoreapp2.1
/CSharp-Advansed/01-Stacks and Queues/E12 Cups and Bottles/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L01 Sum Matrix Elements/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L02 Sum Matrix Columns/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L03 Primary Diagonal/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L04 Symbol in Matrix/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L05 Square and Maximum Sum/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L06 Jagged-Array Modification/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/L07 Pascal Triangle/obj/Debug/netcoreapp2.1
/CSharp-Advansed/02-Multidimensional Arrays/.vs/02-Multidimensional Arrays/v15
